@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

#home {
			background-image:none;
			background: #c2e59c; /* fallback for old browsers */
			background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
#about img{
		
	width: 150px;
	height: 150px;
	}
#about {
		
	    font-size: 15px;
	    color: white;

	}
blockquote {

		font-family: Georgia, Times, serif;
	    font-style: italic;
	    font-size: 15px;
	    color: white;
	    border:none;
	}
#projects{
		margin-left: -35px;
	}
#projects h1{
			font-size: 1.5em;
			font-weight: bold;
		
		}

		.projectImage{
			  width: 300px;
			  height: 200px;
			  margin: 0 auto;



}
		.projectImgWrapper .box{
			width: 270px;
			height: 200px;

		}
		
		.projectImgWrapper {
	  font: 8pt normal Arial, sans-serif;
	  height: auto;
	  padding: 12%;
	  margin-top: -30px;



}
	.projectImgWrapper br{
		display: none;
	}
		.projectImgWrapper p{
		font-style: italic;
		font-size: 1em;
		color: white;
		font-family: Georgia, Arial, Times;
		margin-top: -7px;

	}
	.projectImgWrapper h4{
		font-weight: bold;
		font-family: Georgia, Arial, Times;
		font-size: 1.2em;
		padding: 0;
		margin-top: -5px;


	}
	

	.pHide{
		display: none;
	}
	

	.projectImgWrapper .box .fade-caption {
   		opacity: 1;
   		width: 270px;
		height: 125px;
		position: absolute;
		top:130px;
		border-top-right-radius:13px; 

		} 
	
		.projectImgWrapper hr {
		margin-top: -3px;
	}


#Skills li {
	
	font-size: 12px;
}
#Skills h2{
	font-size: 15px;
}